In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import statistics

In [3]:
df_train=pd.read_csv('train.csv')
df_test=pd.read_csv('test.csv')

In [4]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
df_train.shape

(4209, 378)

In [7]:
df_test.shape

(4209, 377)

In [8]:
df_train.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [9]:
df_test.dtypes

ID       int64
X0      object
X1      object
X2      object
X3      object
         ...
X380     int64
X382     int64
X383     int64
X384     int64
X385     int64
Length: 377, dtype: object

In [18]:
cols = [i for i in df_train.columns if 'X'in i]
print ('Numbers of features: {}'.format(len(cols)))

Numbers of features: 376

In [19]:
print('Feature types:')
df_train[cols].dtypes.value_counts()

Feature types:

int64     368
object      8
dtype: int64

In [23]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

In [24]:
print('constant features: {} Binary features: {} Categorical features: {}\n'
     .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:',counts[2])

constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

## Checking for null_values

In [26]:
# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID','y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

In [28]:
df_train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [29]:
x_train.isnull().sum()

X357    0
X374    0
X47     0
X289    0
X105    0
       ..
X337    0
X61     0
X329    0
X354    0
X147    0
Length: 376, dtype: int64

In [30]:
x_test.isnull().sum()

X357    0
X374    0
X47     0
X289    0
X105    0
       ..
X337    0
X61     0
X329    0
X354    0
X147    0
Length: 376, dtype: int64

In [31]:
df_test.isnull().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [32]:
for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

<ipython-input-32-357911546871>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[column] = x_train[column].apply(mapper)
<ipython-input-32-357911546871>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[column] = x_test[column].apply(mapper)

,X357,X374,X47,X289,X105,X363,X315,X113,X134,X300,...,X96,X60,X19,X157,X359,X337,X61,X329,X354,X147
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,1,1,0,0
2,0,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
3,0,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0

In [34]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [35]:
# Step10: Perform dimensionality reduction
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.
from sklearn.decomposition import PCA
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [37]:
#pip install xgboost
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [38]:
x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

In [39]:
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

In [40]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [41]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [42]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [43]:
clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[14:58:27] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14835	valid-rmse:98.26297	train-r2:-58.35295	valid-r2:-67.63754
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.27653	valid-rmse:80.36433	train-r2:-38.88428	valid-r2:-44.91014
[20]	train-rmse:66.71610	valid-rmse:65.77334	train-r2:-25.87403	valid-r2:-29.75260
[30]	train-rmse:54.86915	valid-rmse:53.89120	train-r2:-17.17724	valid-r2:-19.64513
[40]	train-rmse:45.24563	valid-rmse:44.22231	train-r2:-11.36018	valid-r2:-12.90160
[50]	train-rmse:37.44742	valid-rmse:36.37758	train-r2:-7.46672	valid-r2:-8.40697
[60]	train-rmse:31.15105	valid-rmse:30.01771	train-r2:-4.85891	valid-r2:-5.40526
[70]	train-rmse:26.08767	valid-rmse:24.90843	train-r2:-3.10906	valid-r2:-3.41037
[80]	train-rmse:22.04896	valid-rmse:20.82554	train-r2:-1.93527	valid-r2:-2.08301
[90]	train-rmse:18.84730	valid-rmse:17.59518	train-r2:-1.14471	valid-r2:-1.20074
[100]	train-rmse:16.33661	valid-rmse:15.07622	train-r2:-0.61137	valid-r2:-0.61572
[110]	train-rmse:14.39749	valid-rmse:13.14539	train-r2:-0.25154	valid-r2:-0.22837
[120]	train-rmse:12.92280	valid-rmse:11.68450	train-r2:-0.00829	valid-r2:0.02949
[130]	train-rmse:11.81488	valid-rmse:10.61394	train-r2:0.15719	valid-r2:0.19918
[140]	train-rmse:10.98386	valid-rmse:9.85137	train-r2:0.27158	valid-r2:0.31012
[150]	train-rmse:10.38107	valid-rmse:9.31771	train-r2:0.34934	valid-r2:0.38284
[160]	train-rmse:9.93229	valid-rmse:8.95447	train-r2:0.40438	valid-r2:0.43002
[170]	train-rmse:9.59938	valid-rmse:8.71263	train-r2:0.44364	valid-r2:0.46039
[180]	train-rmse:9.35836	valid-rmse:8.54965	train-r2:0.47123	valid-r2:0.48039
[190]	train-rmse:9.16941	valid-rmse:8.44543	train-r2:0.49236	valid-r2:0.49298
[200]	train-rmse:9.02494	valid-rmse:8.38288	train-r2:0.50823	valid-r2:0.50046
[210]	train-rmse:8.91781	valid-rmse:8.34757	train-r2:0.51984	valid-r2:0.50466
[220]	train-rmse:8.83626	valid-rmse:8.32484	train-r2:0.52858	valid-r2:0.50736
[230]	train-rmse:8.77966	valid-rmse:8.31194	train-r2:0.53460	valid-r2:0.50888
[240]	train-rmse:8.73085	valid-rmse:8.30388	train-r2:0.53976	valid-r2:0.50983
[250]	train-rmse:8.68571	valid-rmse:8.29966	train-r2:0.54451	valid-r2:0.51033
[260]	train-rmse:8.65295	valid-rmse:8.29699	train-r2:0.54794	valid-r2:0.51065
[270]	train-rmse:8.61138	valid-rmse:8.29367	train-r2:0.55227	valid-r2:0.51104
[280]	train-rmse:8.58332	valid-rmse:8.29387	train-r2:0.55518	valid-r2:0.51101
[290]	train-rmse:8.55598	valid-rmse:8.29266	train-r2:0.55801	valid-r2:0.51116
[300]	train-rmse:8.52439	valid-rmse:8.29302	train-r2:0.56127	valid-r2:0.51111
[310]	train-rmse:8.50150	valid-rmse:8.29134	train-r2:0.56362	valid-r2:0.51131
[320]	train-rmse:8.47626	valid-rmse:8.28978	train-r2:0.56621	valid-r2:0.51150
[330]	train-rmse:8.45176	valid-rmse:8.28841	train-r2:0.56871	valid-r2:0.51166
[340]	train-rmse:8.42433	valid-rmse:8.28619	train-r2:0.57151	valid-r2:0.51192
[350]	train-rmse:8.40626	valid-rmse:8.28537	train-r2:0.57334	valid-r2:0.51201
[360]	train-rmse:8.37822	valid-rmse:8.28264	train-r2:0.57619	valid-r2:0.51234
[370]	train-rmse:8.35727	valid-rmse:8.28016	train-r2:0.57830	valid-r2:0.51263
[380]	train-rmse:8.33159	valid-rmse:8.27512	train-r2:0.58089	valid-r2:0.51322
[390]	train-rmse:8.30976	valid-rmse:8.27305	train-r2:0.58308	valid-r2:0.51347
[400]	train-rmse:8.28733	valid-rmse:8.26994	train-r2:0.58533	valid-r2:0.51383
[410]	train-rmse:8.25988	valid-rmse:8.26493	train-r2:0.58807	valid-r2:0.51442
[420]	train-rmse:8.23043	valid-rmse:8.25987	train-r2:0.59101	valid-r2:0.51502
[430]	train-rmse:8.20593	valid-rmse:8.25775	train-r2:0.59344	valid-r2:0.51526
[440]	train-rmse:8.17766	valid-rmse:8.25624	train-r2:0.59623	valid-r2:0.51544
[450]	train-rmse:8.15084	valid-rmse:8.25773	train-r2:0.59888	valid-r2:0.51527
[460]	train-rmse:8.12512	valid-rmse:8.25568	train-r2:0.60141	valid-r2:0.51551
[470]	train-rmse:8.10028	valid-rmse:8.25524	train-r2:0.60384	valid-r2:0.51556
[480]	train-rmse:8.07806	valid-rmse:8.25541	train-r2:0.60601	valid-r2:0.51554
[490]	train-rmse:8.05979	valid-rmse:8.25551	train-r2:0.60779	valid-r2:0.51553
[500]	train-rmse:8.03139	valid-rmse:8.25629	train-r2:0.61055	valid-r2:0.51543
[510]	train-rmse:8.01381	valid-rmse:8.25620	train-r2:0.61225	valid-r2:0.51545
[520]	train-rmse:7.99237	valid-rmse:8.25595	train-r2:0.61432	valid-r2:0.51548
[530]	train-rmse:7.97012	valid-rmse:8.25603	train-r2:0.61647	valid-r2:0.51547
Stopping. Best iteration:
[483]	train-rmse:8.07326	valid-rmse:8.25388	train-r2:0.60648	valid-r2:0.51572

[14:58:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.2.0/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

In [44]:
# Step12: Predict your test_df values using xgboost

p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

   ID           y
0   1   82.982628
1   2   97.522301
2   3   83.451859
3   4   77.067970
4   5  112.693787